/*Color Styles
#072AC8
#43D2FF
#A2D6F9
#D1EDFF
#292E47
#6B708D
#F2F4FC
#ECF7FF
#FFC600*/

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color:#F2F4FC ;
    color: #292E47;
}
/*Text Styles*/
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 24px;
}
.body-intro-med{
    font-size: 24px;
    font-weight: 540;
    line-height: 115%;
}
.body-intro-reg{
    font-size: 20px;
}
.headline-med{
    font-size: 17px;
}
.headline-reg{
    font-size: 17px;
}
.caption1{
    font-size: 15px;
}
.caption2{
    font-size: 13px;
}
.light-text{
    color:#F2F4FC;
}
.yellow-text{
    color:#FFC600;
    width: 560px;
    text-align: center;
}
nav{
    height: 122px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.nav-bar{
    width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 300px;
    list-style:none;
}
a:link, a:visited, a:active {
    text-decoration:none;
    color:#6B708D;
}
a:hover {
    color:#072AC8;
}
.button{
    width: 150px;
    height: 50px;
    color:white;
    background-color: #072AC8;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-secundary{
    width: 150px;
    height: 50px;
    color:black;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-suscribe{
    width: 198px;
    height: 80px;
    color:white;
    background-color: #072ac8;
    border: none;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.button-submit{
    width: 100%;
    height: 80px;
    color:white;
    border: none;
    background-color: rgb(7, 42, 200);
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero{
    width: 530px;
    padding-top: 100px;
}
.hero-image{
    max-width:100%;
}
.p-hero{
    padding-right: 95px;
    padding-bottom: 20px;
}
.card1{
    width:295px;
    height:315px;
    position:absolute;
    left:650px;
    top:220px;
}
.card2{
    width:295px;
    height:295px;
    position:absolute;
    left:1120px;
    top:680px;
}
.hero-buttons{
    display: flex;
    align-items: center;
}
p{
    font-size: 20px;
    line-height: 150%;
}
.logos{
    display:flex;
    justify-content: space-evenly;
    padding-top: 130px;
}
.project{
    width: 1100px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.project-cards{
    display: flex;
    justify-content:space-between;
}
.project-card{
    width: 340px;
    height: 444px;
    background-color: white;
}
.project-image{
    width: 340px;
    height: 240px;
}
.project-text{
    margin:30px 30px 20px 30px;
}
.margin-cards{
    margin: 0px 30px 10px 30px;
}
.margin-link{
    margin: 30px;
}
.margin-icon{
    margin:40px 0px 0px 40px
}
.margin-icon-cta{
    margin:0px 10px 0px 30px;
}
.testimonial{
    display: flex;
    justify-content: center;
   
}
.testimonial-section{
    width: 1320px;
    height: 622px;
    background-color: #292E47;
    background-image: url("./images/testimonial-section/orbit.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.emoji-image{
    width: 150px;
    height: 150px;
}
.emoji1{
    position: absolute;
    left: 15%;
    top: 275%;
}
.emoji2{
    position: absolute;
    left: 75%;
    top: 320%;
}
.emoji3{
    position: absolute;
    left: 15%;
    top: 320%;
}
.emoji4{
    position: absolute;
    left: 75%;
    top: 275%;
}
.our-services{
    width:1100px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.servi{
    display: flex;
    justify-content: space-between;
}
.services{
    width: 340px;
    height:380px;
    background-color: white;
}
.cta-section{
   margin-top: 200px;
   display: flex;
   justify-content: center;
}
.cta{
    width: 1320px;
    height: 500px;
    background-color:rgb(255, 198, 0) ;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.cta-email{
    width: 393px;
    height: 80px;
    background-color:white;
    margin-right: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.placeholder{
    width: 100%;
    font-size: 17px;
    border: none;

}
.error-email{
    width: 350px;
    text-align: center;
    margin:auto;
    color:red;
    font-weight:600;
    padding-top: 20px;
}
footer{
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 100px;
}
.footer-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 260px;
}
.footer-logo{
    width: 100px;
}
.footer-list{
    width: 350px;
    height: 115px;
    display: grid;
    grid-template-columns:105px 105px 105px;
    grid-gap: 16px;
    list-style:none;
}
/*project-page*/
.project-page{
    display: flex;
    flex-direction: column;
    width: 1100px;
}
.project-page-image{
    height: 444px;
    object-fit: cover; 
}
.project-section{
    width: 1100px;
    margin-top:0px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.project-display{
    display: flex;
    justify-content: space-between;
}
.h1-margin{
    margin:90px 0px 10px 0px;
}
.image-margin{
    margin: 80px 0px 50px 0px;
    display: flex;
    justify-content: center;
    background-color: white;
}
.Completed{
    margin-right: 5px;
}
/*Contact Us page*/
.contact-us-form{
    width: 1100px;
    height:735px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.form-big{
    width: 100%;
    height: 70px;
    padding: 0px;
    margin-bottom: 16px;
    margin-top: 10px;
    border: none;
    display:flex;
    align-items: center;
    background-color:rgba(107, 112, 141, 0.1) ;
}
.form-small{
    width:540px;
    height: 70px;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color:rgba(107, 112, 141, 0.1) ;
}
.form-text{
    width: 100%;
    height: 200px;
    border: none;
    padding: 0px;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color:rgba(107, 112, 141, 0.1) ;
}
.small-row{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 780px) {
    body{
        margin:0px;
    }
    .hero-section{
        display: flex;
        flex-direction: column;
        padding: 0px 30px;
    }
    .p-hero{
        padding-right: 0px;
    }
    .card1{
        display:none;
    }
    .card2{
        display:none;
    }
    .logos{
        display: grid;
        grid-template-columns: 150px 150px;
        grid-row-gap: 50px;
        justify-content: center;
        justify-items: center;
        padding: 50px 0px;
    }
    .mobile{
        display: none;
    }
    nav .button{
        display: none;
    }
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 30px;
    }
    .hero{
        width: auto;
        text-align: center;
        padding-top: 0px;
    }
    .hero-buttons{
        flex-direction: column;
        justify-content: center;
    }
    nav{
        height: 60px;
    }
    .nav-bar{
        width: auto;
    }
    .menu {
        width: 200px;
    }
    .project{
        width: auto;
        align-items: center;
        margin-top: 0px;
    }
    .project-cards{
        flex-direction: column;
    }
    .testimonial-section{
        width: 100%;
        height: 430px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-image: none;
        text-align: center;
    }
    .yellow-text{
        width: 100%;
    }
    .our-services{
        width: auto;
        align-items: center;
    }
    .servi{
        flex-direction: column;
    }
    footer{
        width:auto;
        flex-direction: column;
        align-items: center;
        margin: 50px 0px 100px 0px;
    }
    .footer-div{
        align-items: center;
        text-align: center;
        height: 100px;
        justify-content: space-between;
    }
    .footer-list{
        padding: 0px;
        text-align: center;
    }
    .cta{
        width: auto;
        margin-left: 0px;
    }
    .cta-email{
        width: 198px;
        margin-right:0px;
    }
    .emoji1{
        display:none;
    }
    .emoji2{
        display:none;
    }
    .emoji3{
        display:none;
    }
    .emoji4{
        display:none;
    }
    .button-suscribe{
        width: 250px;
        margin-top: 20px;
    }
    .cta-email{
        width: 250px;
    }
    .contact-us-form{
        width: auto;
        height: auto;
        margin-top: 0px;
        padding: 0px 30px;
    }
    .form-small{
        width: 100%;
    }
    .project-section{
        width: auto;
        align-items: center;
    }
    .project-page{
        width: auto;
    }
    .project-page-image{
        width: 100%;
    }
    .project-display{
        flex-direction: column;
    }
    .small-row{
        flex-direction: column;
    }

}